* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.modal-head-wrapper {
  display: flex;
  justify-content: flex-start;
}

.close-wrapper {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px auto;
}

.close-wrapper:hover {
  cursor: pointer;
}

.close-icon {
  width: 30px;
  height: 30px;
}

.download-wrapper {
  margin: 20px 0 0 20px;
}

.download-wrapper img {
  width: 60px;
  height: 60px;
}

.download-wrapper button {
  border-color: transparent;
  background-color: transparent;
}

.download-wrapper button:hover {
  cursor: pointer;
  outline: none;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.App, .ContactPage {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}


.App-label {
  font-weight: bold;
}

.Header-container {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  height: 15vh;
  justify-content: flex-start;
  min-height: 130px;
  padding: 0 10%;
  width: 100%;
}

.Nav-container {
  display: flex;
  width: 35%;
  min-width: 500px;
  margin-left: auto;
  justify-content: flex-end;
  border-left: 0.5px solid rgb(15, 114, 191);
}

.Nav-item {
  align-items: center;
  background-color: white;
  color: #121314;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 150px;
  border-radius: 8px;
}

.Nav-item a, .Nav-item a:visited, .Nav-item a:active {
  color: #121314;
  text-decoration: none;
}

.Filter-wrapper {
  display: flex;
  flex-direction: column;
}

.Filter-title {
  margin: 20px auto 20px;
}

.Filter-container {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  min-width: 865px;
  margin: 0 auto 30px;
}

.Filter-item {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 150px;
  border-radius: 8px;
  border: solid 1px #6180ef;
  cursor: pointer;
}

.Filter-item.clear-filter {
  width: 300px;
  align-self: center;
  background-color: #5fba7d;
}

.Filter-item a, .Filter-item a:visited, .Filter-item a:active {
  color: #6180ef;
  text-decoration: none;
}

.MainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.MainContainer .slider-wrapper {
  height: 85vh;
}

.MainContainer .slick-slider {
  width: 100%;
  height: 77vh;
  margin: 0 auto;
}

.MainContainer .slick-track {
  display: flex;
  align-items: center;
}

.MainContainer .slick-slider img {
  margin: auto;
  width: 800px;
}

.MainContainer .slick-slider .slick-dots .slick-active button:before {
  color: rgb(91, 183, 255);
}

.MainContainer .slick-slider .slick-dots button:before {
  color: black;
  opacity: 1;
}

.ModalCategory-wrapper .slick-slider {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
}

.ModalCategory-wrapper .slick-slider .slick-list img {
  margin: auto;
  max-width: 800px;
  min-width: 600px;
  width: 50%;
}

/*.MainContainer .slick-arrow {*/
/*  z-index: 1;*/
/*}*/

/*.MainContainer .slick-arrow:before {*/
/*  color: black;*/
/*  font-size: 70px;*/
/*}*/

/*.MainContainer .slick-dots li.slick-active button:before {*/
/*  color: #253469;*/
/*}*/

.MainContainer-mainInfo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 0;
  width: 80%;
}

.MainContainer-mainInfo-image {
  height: auto;
  min-width: 300px;
  width: 40%;
}

.MainContainer-mainInfo-image img {
  width: 100%;
}

.MainContainer-companyInfo {
  width: 50%;
}

.MainContainer-companyInfo h2 {
  text-align: center;
}

.MainContainer-contact {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
}

.MainContainer-contact-info {
  padding: 30px;
  width: 40%;
}

.MainContainer-contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 40%;
}

.MainContainer-contact-form form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.MainContainer-contact-form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.MainContainer-contact-form .form-group input, .MainContainer-contact-form .form-group textarea {
  width: 50%;
}

.MainContainer-contact-form .form-group.privacy-wrapper {
  margin-top: 25px;
}

.MainContainer-contact-form .form-group input.input-privacy {
  width: auto;
}

.MainContainer-contact-form .form-group input.input-privacy + label{
  margin-left: 10px;
  font-size: 11px;
}

.MainContainer-contact-form .submit-btn {
  box-shadow: 0px 39px 0px -24px #9fb4f2;
  background-color:#7892c2;
  border-radius:4px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.MainContainer-contact-form .submit-btn:hover {
  background-color:#476e9e;
}
.MainContainer-contact-form .submit-btn:active {
  position:relative;
  top:1px;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

.ProductLineExpositor {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.ProductLineExpositor-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(15, 114, 191, 0.6);
  width: 90%;
  padding-top: 22px;
}

.ProductLineExpositor-title {
  margin: 10px auto;
}

.ProductLine-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.ProductLine-item p {
  width: 70%;
}

.ProductLine-item-title {
  display: flex;
  width: 180px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  border-radius: 50%;
}

.ProductLine-item:hover .ProductLine-item-title {
  display: none;
}

.ProductLine-item-title h3 {
  margin: auto;
  text-align: center;
}

.ProductLine-img-preview {
  height: 180px;
  width: 180px;
}

.ProductLine-img-preview img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.ModalCategory-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.MiniatureSlider-wrapper {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.MiniatureSlider-wrapper .slick-dots {
  display: flex !important;
  justify-content: center;
  bottom: -300px;
  height: 180px;
  flex-wrap: wrap;
}

.MiniatureSlider-wrapper .slick-dots li {
  width: 80px;
  display: flex;
  align-items: center;
}

.MiniatureSlider-wrapper .slick-list div:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.MiniatureSlider-wrapper .slick-list img {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}


.MiniatureSlider-wrapper .slick-list {
  min-height: 70vh;
}

.MiniatureSlider-wrapper .slick-track {
  display: flex;
}

.MiniatureSlider-wrapper .slick-thumb img {
  width: 80px;
}

.Footer-container {
  background-color: #253469;
  color: white;
  display: flex;
  height: 15vh;
  min-height: 100px;
  padding: 0 50px;
  width: 100%;
}
